syntax: glob

*.un~
*.swp
out
target
logs
*.log
dump
*.ipr
*.iml
*/*.iml
.idea
*.iws
*.war
*.swp
*~
*.tld
*.rdb
workspace.xml
lib/build
lib/compile
lib/runtime
lib/test
test-*
~$*

*/test-*

stacktrace.log
*/*.tmproj
*/*.launch
*/.DS_Store
*/reports/
*.orig
*.zip

.git
.DS_Store

plugin.xml
.gradle
build

.classpath
.project